@model DemoSite.Models.Pages.StartPage

@*<h1 @Html.EditAttributes(m => m.Heading)>
    @(Model.Heading ?? Model.Name)
</h1>*@

@Html.PropertyFor(m => m.Heading)

<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
