@using DemoSite.Models.ViewModels
@model PageViewModel<DemoSite.Models.Pages.StartPage>

@Html.PropertyFor(m => m.CurrentPage.Heading)

<div>
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
</div>
